* {
    background-color: orange
}


.link {
    text-align: center;
    font-size: 23px;
}

.main-title {
    text-align: center;
    font-size: 45px;
    color:rgb(17, 112, 112);
}

.title {
    text-align: center;
    font-size: 27px;
    color: rgb(17, 112, 112);
}

.image {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.text {
    font-style: oblique;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}